body{
    margin-top: 50px;
}

.jumbotron img {
    border-radius: 50%;
    width: 250px;
    border: 5px solid #666;
}

hr{
    width: 300px;
    border: 3px solid #666;
}

section {
    min-height: 600px;
}

.portfolio{
    background-color: #eee;
}

.contact{
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 105px;
    background-color: #333;
    padding-top: 15px;
}

footer p{
    color: #aaa;
    font-size: 0.9em;
}


